<div class="modal fade" id="modal_remove_task" aria-labelledby="modal_remove_task_label" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal_remove_task_label">Remove Task</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this task?
                The task will be permanently deleted.
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <form name="form_delete_task" method="post" action="{{ url('delete_task') }}" style="display: inline">
                    <input id="task_id" name="task[id]" required="required" value="0" hidden="hidden" type="text">
                    <input id="token" name="task[_token]" value="0" type="hidden">
                    <button data-original-title="Remove" type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="">
                        Remove
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function setTaskData(id, csrf_token) {
        console.log('ID: ' + id + " TOKEN: " + csrf_token);
        console.log(document.getElementById('task_id').getAttribute('value'));
        document.getElementById('task_id').setAttribute('value', id);
        document.getElementById('token').setAttribute('value', csrf_token);
        console.log(document.getElementById('task_id').getAttribute('value'));
    }
</script>